@import url("./__menu/header__menu.css");
@import url("./__menu-item/header__menu-item.css");
@import url("./__menu-link/header__menu-link.css");
@import url("./__options-panel/header__options-panel.css");
@import url("./__menu-button/header__menu-button.css");
@import url("./__button/header__button.css");
@import url("./__logo/header__logo.css");

.header {
  position: relative;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  padding-inline: 4.1vw;
  padding-block: 20px;
}

@media screen and (min-width: 576px) {
  .header {
    grid-template-columns: repeat(2, auto) 1fr;
    justify-items: start;
  }  
}

