.section-kit-content__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-kit-content__image {
    display: block;
    flex-shrink: 0;
    width: 45.8vw;
    height: calc(45.8vw * (440 / 660));
    background-image: url("../../../assets/section-kit-content-image.png");
    background-size: cover;
  }
}