.section__title {
  width: fit-content;
  padding-inline: 2.1vw 7.63vw;
  background-color: black;
  color: white;
  text-transform: uppercase;
  transition: background-color .5s;
}

.section__title:hover {
  background-color: #E2B013;
}