.page-preview__link {
  position: relative;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.page-preview__link::after {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width .5s;
}

.page-preview__link:hover::after {
  width: 100%;
}