.section-intro__advantages-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  transition: transform .5s;
}

.section-intro__advantages-list-item:hover {
  transform: translateY(-10px);
}