@import url("./__author-information/footer__author-information.css");
@import url("./__author-information-item/footer__author-information-item.css");
@import url("./__author-information-link/footer__author-information-link.css");
@import url("./__internal-links/footer__internal-links.css");
@import url("./__internal-links-list/footer__internal-links-list.css");
@import url("./__internal-links-list-title/footer__internal-links-list-title.css");
@import url("./__internal-links-list-item/footer__internal-links-list-item.css");
@import url("./__internal-link/footer__internal-link.css");

.footer {
  row-gap: 20px;
  padding-inline: 4.1vw;
  padding-bottom: 4.51vw;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, auto);
  }
}