.section-intro__image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-intro__image {
    display: block;
    width: 51vw;
    height: calc(51vw * (785 / 728));
    background-image: url("../../../assets/intro-image.png");
    background-size: cover;
  }
}