@import url("./visually-hidden/visually-hidden.css");
@import url("./header/header.css");
@import url("./flex-wrapper/flex-wrapper.css");
@import url("./grid-wrapper/grid-wrapper.css");
@import url("./section/section.css");
@import url("./section-intro/section-intro.css");
@import url("./section-kit-content/section-kit-content.css");
@import url("./section-with-pages-preview/section-with-pages-preview.css");
@import url("./heading/heading.css");
@import url("./pages-list/pages-list.css");
@import url("./page-preview/page-preview.css");
@import url("./footer/footer.css");
@import url("./subscribe-form/subscribe-form.css");
@import url("./mobile-menu/mobile-menu.css");

@font-face {
  font-family: "Jost";
  src: url("../assets/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
